{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
  <link rel="icon" href="https://github.com/marcomoroni.png?size=16">
  <link rel="preload" href="assets/fonts/ReadexPro.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="assets/fonts/OverpassMono-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="stylesheet" href="{{ config.base_url }}/global.css">
  <title>Marco Moroni</title>
</head>

<body>
  <div class="container">
    {% block content %} {% endblock %}
  </div>
  <script src="{{ config.base_url }}/script.js"></script>
</body>

</html>
