{% extends "base.html" %}

{% block content %}
{% set color_dark = [237 / 255, 232 / 255, 227 / 255] %}
{% set color_light = [253 / 255, 250 / 255, 247 / 255] %}
<div class="landing-header">
  <h1 class="ciao">Ciao<span id="typewriter"></span></h1>
  <p>Programmer &amp; UI/UX designer.</p>
  <p>Currently working at <a href="https://mxt.co.uk/">MXT</a>, London.</p>
  <p>Happy around games, analytic philosophy, surrealism.</p>
  <div class="contacts">
    <div >marcomoroni394@gmail.com</div>
    <div class="contacts-divider">·</div>
    <div class="no-user-select"><a href="https://github.com/marcomoroni/">GitHub</a></div>
    <div class="contacts-divider">·</div>
    <div class="no-user-select"><a href="https://www.linkedin.com/in/m-moroni/">LinkedIn</a></div>
    <div class="contacts-divider">·</div>
    <div class="no-user-select"><a href="https://marcomoroni.itch.io/">itch.io</a></div>
  </div>
  <p>Here are a few things I've been doing:</p>
</div>
<div class="p-e-list">
  {% for page in section.pages %}
  <a class="p-e-l-e-link" href="{{ page.permalink }}">
    {% if page.extra.opt_preview_img %}
    {% set image_parent = page.permalink | replace(from="_index.md", to="") %}
    {% if page.extra.opt_preview_img[1] == "default" %}
      {% set tone_1 = color_dark %}
      {% set tone_2 = color_light %}
    {% elif page.extra.opt_preview_img[1] == "inverted" %}
      {% set tone_1 = color_light %}
      {% set tone_2 = color_dark %}
    {% endif %}
    {% set filter_id = "duotone_" ~ page.slug %}
    {{ macros::duotone_table(id=filter_id, stops_dark=page.extra.opt_preview_img[2], stops_light=page.extra.opt_preview_img[3], color_dark=tone_1, color_light=tone_2) }}
    <div class="p-e-l-e-image" style="background-image: url({{ image_parent }}{{ page.extra.opt_preview_img[0] }}); filter: url(#{{ filter_id }})"></div>
    <div class="p-e-l-e-image-overlay"></div>
    {% endif %}
    <div class="p-e-l-e-header-container">
      {{ macros::portfolio_entry_header(page=page, semantic_title_element="h2") }}
    </div>
  </a>
  {% endfor %}
  {% for page in section.pages %}
  <div class="p-e-adjustment"></div>
  {% endfor %}
</div>
<div class="nav">
  <div><a class="nav-button" href="{{ section.pages[0].permalink }}">Start from the first one</a></div>
</div>
{% endblock content %}
