{% macro portfolio_entry_header(page, semantic_title_element) %}
<div class="p-e-header">
  <div class="p-e-header-tags-list">
    {% for tag in page.extra.tags %}
    <div class="tag">{{ tag }}</div>
    {% endfor %}
  </div>
  <{{ semantic_title_element | safe }} class="p-e-header-title">{{ page.title }}</{{ semantic_title_element | safe }}>
</div>
{% endmacro portfolioentryheader %}

{% macro duotone_table(id, stops_dark, stops_light, color_dark, color_light) %}
<!-- https://tympanus.net/codrops/2019/02/05/svg-filter-effects-duotone-images-with-fecomponenttransfer/ -->
<svg class="defs-only">
  <filter id="{{ id }}" color-interpolation-filters="sRGB"
          x="0" y="0" height="100%" width="100%">
    <!-- Convert it to grayscale. -->
    <feColorMatrix type="matrix" values="
        .33 .33 .33 0 0
        .33 .33 .33 0 0
        .33 .33 .33 0 0
        0 0 0 1 0">
    </feColorMatrix>

    <feComponentTransfer color-interpolation-filters="sRGB">
      <feFuncR type="gamma" exponent="2.8" amplitude="2.6" offset="0"></feFuncR>
      <feFuncG type="gamma" exponent="2.8" amplitude="2.6" offset="0"></feFuncG>
      <feFuncB type="gamma" exponent="2.8" amplitude="2.6" offset="0"></feFuncB>
    </feComponentTransfer>

    <!-- Map the grayscale result to the gradient map provided in tableValues. -->
    <feComponentTransfer color-interpolation-filters="sRGB">
      <feFuncR type="table" tableValues="{% for _ in range(end=stops_dark) %} {{ color_dark[0] }} {% endfor %} {% for _ in range(end=stops_light) %} {{ color_light[0] }} {% endfor %}"></feFuncR>
      <feFuncG type="table" tableValues="{% for _ in range(end=stops_dark) %} {{ color_dark[1] }} {% endfor %} {% for _ in range(end=stops_light) %} {{ color_light[1] }} {% endfor %}"></feFuncG>
      <feFuncB type="table" tableValues="{% for _ in range(end=stops_dark) %} {{ color_dark[2] }} {% endfor %} {% for _ in range(end=stops_light) %} {{ color_light[2] }} {% endfor %}"></feFuncB>
    </feComponentTransfer>
  </filter>
</svg>
{% endmacro duotone_table %}

{% macro right_arrow() %}
<svg class="right-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <path fill="#AB7C94" d="M 21.1875 9.28125 L 19.78125 10.71875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 19.78125 21.28125 L 21.1875 22.71875 L 27.90625 16 Z"></path>
</svg>
{% endmacro right_arrow %}
