{% extends "base.html" %}

{% block content %}
<a class="home-button" href="{{ config.base_url }}" title="Home"></a>
<div class="p-e-layout">
  <div class="nav-dots-container">
    {% set section = get_section(path="_index.md") %}
    {% for other_page in section.pages %}
    <div class="nav-dot {% if other_page.slug == page.slug %}this{% endif %}"></div>
    {% endfor %}
  </div>
  <div class="p-e-layout-spacer-above-title"></div>
  {{ macros::portfolio_entry_header(page=page, semantic_title_element="h1") }}
  <div class="p-e-layout-spacer-below-title"></div>
  <div class="p-e-content" date="{{ page.date | date(format="%B %Y") }}">
  {{ page.content | safe }}
  </div>
  <script>
    // Add the date to the first `p`.
    // This script is inside the html because it needs to be executed before the document
    // is rendered for the first time.
    const pEContentEl = document.getElementsByClassName('p-e-content')[0];
    const firstPEl = pEContentEl.querySelector('p');
    if (firstPEl != null) {
      firstPEl.innerHTML = '<span class="date-divider">&#92;&#92;&#92;</span>' + firstPEl.innerHTML;
      firstPEl.prepend(pEContentEl.getAttribute('date'));
    }
  </script>
</div>
<div class="nav">
  <div><a class="nav-button" href="{{ config.base_url }}"><div class="nav-button-text">Home</div></a></div>
  {% if page.earlier %}
  <div><a class="nav-button with-icon" href="{{ page.earlier.permalink }}"><div class="nav-button-text">Next</div><div class="nav-button-icon">{{ macros::right_arrow() }}</div></a></div>
  {% endif %}
</div>
{% endblock content %}
